
<form #usuarioForm="ngForm" style="display: flex; flex-direction: column; gap: 10px; max-width: 500px;" (ngSubmit)="usuarioForm.valid && onSubmit.emit(usuario)">
    <label for="nombreUsuario">
        Nombre del usuario:
        <input id="nombreUsuario" name="nombreUsuario" [(ngModel)]="usuario.nombreUsuario" required>
    </label>

    <label for="email">
        Email:
        <input id="email" name="email" [(ngModel)]="usuario.email" required>
    </label>

    <label for="password">
        Password:
        <input id="password" name="password" [(ngModel)]="usuario.password" required>
    </label>

    <label>
        Habilitado
        <input type="checkbox" name="habilitado" [(ngModel)]="usuario.habilitado">    
    </label>
    
    <label for="especialidad">
        Especialidad
        <input id="especialidad" name="especialidad" [(ngModel)]="usuario.especialidad">
    </label>
    
    <div *ngIf="!esEdicion">
        <label for="roles">Roles:</label>
            <select id="roles" name="roles_id" [(ngModel)]="usuario.roles_id" multiple>
            <option *ngFor="let rol of roles" [value]="rol.id">
                {{ rol.nombre }}
            </option>
        </select>
    </div>

    <button type="submit" [disabled]="!usuarioForm.valid">Guardar</button> 
    <button type="button" (click)="goBack()">Atras</button>
</form>
