<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Geolocalizacion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let zona of zonas">
        <td>{{ zona.id }}</td>
        <td>{{ zona.nombre }}</td>
        <td>{{ zona.geolocalizacion }}</td>
        <td>
          <button (click)="onEdit.emit(zona.id)"> Editar</button>
          <button (click)="onDelete.emit(zona.id)"> Borrar</button>
        </td>
      </tr>
      <tr *ngIf="zonas.length === 0">
        <td colspan="6">No hay zonas cargadas.</td>
      </tr>
    </tbody>
  </table>
