
<form #campaniaForm="ngForm" (ngSubmit)="campaniaForm.valid && onSubmit.emit(campania)">
  <div class="form-group">
    <label class="form-label">Nombre:</label>
    <input class="form-input" [(ngModel)]="campania.nombre" name="nombre" required />
  </div>
  <div class="form-group">
    <label class="form-label">Fecha Inicio:</label>
    <input class="form-input" type="date" [(ngModel)]="campania.fechaInicio" name="fechaInicio" required />
  </div>
  <div class="form-group">
    <label class="form-label">Fecha Fin:</label>
    <input class="form-input" type="date" [(ngModel)]="campania.fechaFin" name="fechaFin" required />
  </div>

  <div class="form-group">
    <label class="form-label">Barrio:</label>
    <select class="form-dropdown" [(ngModel)]="campania.barrio_id" name="barrio_id" required>
      <option *ngFor="let barrio of barrios" [value]="barrio.id">
        {{ barrio.nombre }}
      </option>
    </select>
  </div>

  <button class="btn btn-create" type="submit" [disabled]="!campaniaForm.valid">Guardar</button>
</form>
