<div class="home-container">
    <h1>Administración del Sistema</h1>
  
      <div class="menu-grid">
        <!-- Sección Usuarios -->
        <div class="menu-section">
          <h2>Usuarios</h2>
          <div class="button-group">
            <button class="menu-button" routerLink="/usuario">Ver</button>
          </div>
        </div>
    
      <!-- Sección Campañas -->
      <div class="menu-section">
        <h2>Campañas / Jornadas</h2>
        <div class="button-group">
          <button class="menu-button" routerLink="/campania">Ver</button>
        </div>
      </div>

      <div class="menu-section">
        <h2>Org. Sociales</h2>
        <div class="button-group">
          <button class="menu-button" routerLink="/organizacionSocial">Ver</button>
        </div>
      </div>


      <div class="menu-section">
        <h2>Encuestadores</h2>
        <div class="button-group">
          <button class="menu-button" routerLink="/encuestador">Ver</button>
        </div>
      </div>      

      <!-- Sección Roles -->
      <div class="menu-section">
        <h2>Roles</h2>
        <div class="button-group">
          <button class="menu-button" routerLink="/rol">Ver</button>
        </div>
      </div>
  
      <!-- Sección Barrios -->
      <div class="menu-section">
        <h2>Barrios / Zonas</h2>
        <div class="button-group">
          <button class="menu-button" routerLink="/barrio">Ver</button>
        </div>
      </div>

    </div>
  </div>