<div class="home-container">
    <h1>Administración del Sistema</h1>
  
      <div class="menu-grid">
        <!-- Sección Usuarios -->
        <div class="menu-section">
          <h2>Usuarios</h2>
          <div class="button-group">
            <button class="menu-button" routerLink="/usuario">Ver</button>
          </div>
        </div>
    
      <!-- Sección Campañas -->
      <div class="menu-section">
        <h2>Campañas</h2>
        <div class="button-group">
          <button class="menu-button" routerLink="/campania">Ver</button>
        </div>
      </div>
  
      <!-- Sección Barrios -->
      <div class="menu-section">
        <h2>Barrios</h2>
        <div class="button-group">
          <button class="menu-button" routerLink="/barrio">Ver</button>
        </div>
      </div>

    </div>
  </div>