


<!-- If para ver si esta logeado -->
<ng-container *ngIf="auth.loggedIn()">
<div class="home-container">
  <h1>Administración del Sistema</h1>
  
  <div class="menu-grid">
    <ng-container *ngIf="auth.rolAdmin()">

        <!-- Sección Usuarios -->
        <div class="menu-section hover-effect">
          <h2>Usuarios</h2>
          <div class="menu-buttons">
            <button class="btn btn-nav" routerLink="/usuario">Ver</button>
            <button class="btn btn-nav" routerLink="/usuario/nuevo">Nuevo</button>
          </div>
        </div>
    
        <!-- Sección Campañas -->
        <div class="menu-section hover-effect">
          <h2>Campañas / Jornadas</h2>
          <div class="menu-buttons">
            <button class="btn btn-nav" routerLink="/campania">Ver</button>
            <button class="btn btn-nav" routerLink="/campania/nueva">Nueva Campaña</button>
          </div>
        </div>

        <!-- Sección Organizaciones Sociales -->
        <div class="menu-section hover-effect">
          <h2>Org. Sociales</h2>
          <div class="menu-buttons">
            <button class="btn btn-nav" routerLink="/organizacionSocial">Ver</button>
            <button class="btn btn-nav" routerLink="/organizacionSocial/nueva">Nueva</button>
          </div>
        </div>

        <!-- Sección Encuestadores -->
        <div class="menu-section hover-effect">
          <h2>Encuestadores</h2>
          <div class="menu-buttons">
            <button class="btn btn-nav" routerLink="/encuestador">Ver</button>
            <button class="btn btn-nav" routerLink="/encuestador/nuevo">Nuevo</button>
          </div>
        </div>      

        <!-- Sección Roles -->
        <div class="menu-section hover-effect">
          <h2>Roles</h2>
          <div class="menu-buttons">
            <button class="btn btn-nav" routerLink="/rol">Ver</button>
            <button class="btn btn-nav" routerLink="/rol/nuevo">Nuevo</button>
          </div>
        </div>
      
        <!-- Sección Barrios -->
        <div class="menu-section hover-effect">
          <h2>Barrios / Zonas</h2>
          <div class="menu-buttons">
            <button class="btn btn-nav" routerLink="/barrio">Ver</button>
            <button class="btn btn-nav" routerLink="/barrio/nuevo">Nuevo</button>
          </div>
        </div>

        <!-- Sección Encuestas -->
        <div class="menu-section hover-effect">
          <h2>Encuestas</h2>
          <div class="menu-buttons">
            <button class="btn btn-nav" routerLink="/encuestas">Ver</button>
            <button class="btn btn-nav" routerLink="/encuestas/cargar-csv">Cargar CSV</button>
          </div>
        </div>


      <div class="menu-section hover-effect">
        <h2> Reportes </h2>
        <div class="menu-buttons">
          <button class="btn btn-nav" routerLink="/reporte">Ver Reportes</button>
        </div>
      </div>
    </ng-container>

    <!-- Seccion personal de Salud o rolReferente-->
    <ng-container *ngIf="auth.rolSalud() || auth.rolReferente()">
      <div class="menu-section hover-effect">
        <h2>Mis Reportes</h2>
        <div class="menu-buttons">
          <button class="btn btn-nav" routerLink="/reporte">Ver Reportes</button>
        </div>
      </div>
    </ng-container>






    <!-- Fin del if para rol de admin -->
    
    
    <!-- Seccion personal de Salud y Admin-->
    <ng-container *ngIf="auth.rolSalud() || auth.rolAdmin()">


      <!-- Sección Generar Reporte -->
      <div class="menu-section hover-effect">
        <h2>Generación de Reportes</h2>
        <div class="menu-buttons">
          <button class="btn btn-nav" routerLink="/filtro/nuevo">Generar Reporte</button>
          <button class="btn btn-nav" routerLink="/filtro">Mis Filtros</button>
        </div>
      </div>

      <!-- Sección Pedidos de Reportes -->
      <div class="menu-section hover-effect">
        <h2>Pedidos de Reportes</h2>
        <div class="menu-buttons">
          <button class="btn btn-nav" routerLink="/pedidos">Ver Pedidos</button>
          <button class="btn btn-nav" routerLink="/pedidos/nuevo">Nuevo Pedido</button>
        </div>
      </div>
    </ng-container>
    <!-- Fin del if para rol de salud -->

    <ng-container *ngIf="auth.rolReferente() || auth.rolAdmin()">
      <!-- Sección Pedidos de Reportes para Referentes -->
      <div class="menu-section hover-effect">
        <h2>Mis Pedidos de Reportes</h2>
        <div class="menu-buttons">
          <button class="btn btn-nav" routerLink="/pedidos">Ver Pedidos</button>
        </div>
      </div>
    </ng-container>

    <!-- Fin del if para rol de referente -->

  <div class="home-container">
    <h1>Home Page</h1>
    <div class="menu-grid">
      <div class="menu-section">
        <h2>Bienvenido al sistema de gestión ASIS UNLP</h2>
      </div>
      <div class="">
        <h2>Conozcanos</h2>
        <ul>
          <li><a href="https://www.unlp.edu.ar/">Universidad Nacional de La Plata</a></li>
          <li><a href="https://www.asis.unlp.edu.ar/">Sitio Oficial ASIS UNLP</a></li>
          <li><a href="https://www.unlp.edu.ar/">Otro enlace</a></li>
        </ul>
      </div>
    </div>
  </div>