<form #zonaForm="ngForm" (ngSubmit)="zonaForm.valid && onSubmit.emit(zona)">
  <div class="form-group">
    <label class="form-label">Nombre:</label>
    <input class="form-input" [(ngModel)]="zona.nombre" name="nombre" required />
  </div>

  <div class="form-group">
    <label class="form-label">Geolocalización:</label>
    <input class="form-input" [(ngModel)]="zona.geolocalizacion" name="geolocalizacion" required />
  </div>

  <button class="btn btn-create" type="submit" [disabled]="!zonaForm.valid">Guardar</button>
</form>
